@font-face {
    font-family: 'meta-book';
    src: url('../fonts/metaserifpro-book.eot');
    src: url('../fonts/metaserifpro-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaserifpro-book.woff') format('woff'),
         url('../fonts/metaserifpro-book.ttf') format('truetype'),
         url('../fonts/metaserifpro-book.svg#MetaserifproBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meta-med';
    src: url('../fonts/metaserifpro-medi.eot');
    src: url('../fonts/metaserifpro-medi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaserifpro-medi.woff') format('woff'),
         url('../fonts/metaserifpro-medi.ttf') format('truetype'),
         url('../fonts/metaserifpro-medi.svg#MetaserifproMedi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antenna-bold';
    src: url('../fonts/antenna-bold.eot');
    src: url('../fonts/antenna-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antenna-bold.woff') format('woff'),
         url('../fonts/antenna-bold.ttf') format('truetype'),
         url('../fonts/antenna-bold.svg#AntennaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antenna-light';
    src: url('../fonts/antenna-light.eot');
    src: url('../fonts/antenna-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antenna-light.woff') format('woff'),
         url('../fonts/antenna-light.ttf') format('truetype'),
         url('../fonts/antenna-light.svg#AntennaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antenna-el';
    src: url('../fonts/antenna-extralight.eot');
    src: url('../fonts/antenna-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antenna-extralight.woff') format('woff'),
         url('../fonts/antenna-extralight.ttf') format('truetype'),
         url('../fonts/antenna-extralight.svg#AntennaExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antenna-regular';
    src: url('../fonts/antenna-regular.eot');
    src: url('../fonts/antenna-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antenna-regular.woff') format('woff'),
         url('../fonts/antenna-regular.ttf') format('truetype'),
         url('../fonts/antenna-regular.svg#AntennaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}